[submodule "test/gmock"]
	path = test/gmock
	url = https://chromium.googlesource.com/external/gmock
[submodule "test/googletest"]
	path = test/googletest
	url = https://chromium.googlesource.com/external/googletest
